[submodule "vendor/pi"]
	path = vendor/pi
	url = https://github.com/earendil-works/pi.git
[submodule "vendor/ocaml-llm-config"]
	path = vendor/ocaml-llm-config
	url = git@github.com:chris-armstrong/ocaml-llm-config.git
